/* stylesheet.css */
body {
    font-family: Arial, sans-serif;
    text-align: left;
}

table {
  border-collapse: collapse;
  border: solid 2px orange;/*表全体を線で囲う*/
}
table th, table td {
  border: dashed 1px orange;/**/
  /*破線 1px オレンジ*/
}

body {
    font-family: Arial, sans-serif;
    padding: 20px;
    margin: 0;
}

h1 {
    text-align: center;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#menu {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
}

.paused-button {
    background-color: blue;
}
