/* timer.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.input-box {
    margin-bottom: 10px;
}

.progress-bar {
    width: 80%;
    height: 20px;
    background-color: #ccc;
    margin-top: 10px;
}

#progress {
    height: 80%;
    background-color: #3498db;
}
