/* timer.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
}

p{
    font-size: 16px;
}

.input-number{
    width: 2em;
    margin: 10px;
    font-size: 16px;
}

.input-box {
    display: flex;
    margin-bottom: 5px;
}

.progress-bar {
    width: 100%;
    height: 40px;
    background-color: #0000ff;
    margin-top: 10px;
}

#progress {
    height: 100%;
    background-color: #ff7f50;
}
